.logistic {
  position: relative;
  &__work {
    &-nav {
      width: 40%;
      margin: 0 auto;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
}

.zap__count {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: var(--body-color);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 999;
  font-size: 10px;
}
.zap__count-reg {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: rgb(39, 140, 235);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: var(--body-color);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 999;
  font-size: 10px;
}
.zap__count-all {
  position: absolute;
  right: -10px;
  top: -10px;
  background-color: rgb(95, 218, 235);
  border-radius: 1px;
  width: 20px;
  height: 20px;
  color: var(--body-color);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 999;
  font-size: 10px;
  color: black;
}
.zap__type {
  text-align: center;
}
.zap__list {
  // display: flex;
  // flex-wrap: wrap;
  // gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.zap {
  position: relative;
  width: 300px;
  height: auto;
  padding: 0.4rem;
  display: flex;
  gap: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all 0.2s ease;

  &:hover {
    cursor: pointer;
    scale: 1.03;
    transition: all 0.2s ease;
  }

  &__cities {
    font-size: 13px;
    color: var(--body-color);
  }
}
.zap__author {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 14px;
  &-name {
    color: rgb(212, 69, 69);
  }
  &-time {
    color: rgb(39, 38, 38);
    font-size: 11px;
    cursor: inherit;
  }
}
.zap__text {
  width: 200px;
  word-wrap: break-word;
  height: 100px;
  text-overflow: ellipsis;
  font-size: 14px;
  overflow: auto;
  color: var(--body-color);
  &::-webkit-scrollbar {
    width: 3px;
    background-color: rgb(159, 155, 155);
  }
  &::-webkit-scrollbar-thumb {
    background: #239cd4;
    width: 3px;
  }
}

.zap__comments-length {
  width: 30px;
  height: 30px;
  bottom: 10px;
  right: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  // background-color: red;
  // width: 100px;
  // height: 20px;
  // font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  justify-content: space-between;
}
.zap__comments-counter {
  display: flex;
  width: 100%;
}
.nav {
  position: relative;
}

.comments__tooltip {
  cursor: help;
}

.zap__rules {
  position: absolute;
  top: 0;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &-block {
    display: flex;
    gap: 10px;
  }
  &-round {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  span {
    color: var(--body-color);
  }
}
.zap__author-time {
  color: var(--body-color);
}
.new__comments {
  background-color: red;
  position: absolute;
  top: -10px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.zap__item-kod {
  font-weight: bold;
  color: var(--body-color);
}

.zap__edit-form {
  position: absolute;
  z-index: 99999;
  top: 0;
  width: 100%;
  height: 100%;
}
.zap__search-input {
  color: var(--body-color);
  background-color: var(--background-color);
  border-bottom: 1px solid var(--body-color);
}
.zap__search-input::placeholder {
  color: var(--body-color);
}
.cities {
  color: rgb(226, 146, 41);
}
@media (max-width: 1350px) {
  .zap__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .zap__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .zap {
    gap: 20px;
  }
  .zap__rules {
    display: none;
  }
}
@media (max-width: 685px) {
  .zap__list {
    grid-template-columns: repeat(1, 1fr);
    // width: 100%;
    margin: 0 auto;
  }
  .zap {
    width: 80%;
  }
  .zap {
    // width: 100%;
  }
}
